body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 15px;
}

/*
.debug{
    .debug(rgba(0, 0, 0, 0.4), 1px solid #ff0);
}
*/

/* Header */

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: url("../img/header.jpg") center;
  background-size: cover;
}

.background {
  background: url("../img/tradefone2.png") center;
  text-align: center;
  min-height: 90vh;
  color: #ffffff;
}

.background .tellNumber {
  text-align: right;
  padding: 6% 5% 0 0;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.background .tellNumber a {
  text-decoration: none;
  color: #ffffff;
}

.background .tellNumber a:hover {
  color: #f6ae48;
}

.background h1 {
  font-size: 3.2vw;
  margin: 4% 9% 5% 9%;
  line-height: 5vw;
  letter-spacing: 2px;
  font-weight: 700;
}

.background .headerText {
  font-size: 1.5vw;
  margin: 0 18% 5% 18%;
  line-height: 2.5vw;
  letter-spacing: 1.2px;
}

.background :nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background .BoxItem:hover {
  color: #00b9e7;
  height: 20vh;
  width: 30vh;
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.background .BoxItem:hover .LogoBox1,
.background .BoxItem:hover .LogoBox2,
.background .BoxItem:hover .LogoBox3 {
  font-size: 6vh;
  top: -3vh;
  animation: spin 1.5s linear 0s infinite;
}

.background .BoxItem:hover .LogoBox1 {
  left: 11.7vh;
}

.background .BoxItem:hover .LogoBox2 {
  left: 11.3vh;
}

.background .BoxItem:hover .LogoBox3 {
  left: 12.4vh;
}

.background .BoxItem:hover > a {
  color: #00b9e7;
}

.background .BoxItem {
  margin: 8vh 2.5vh;
  width: 27vh;
  height: 18vh;
  background: url("../img/orderheder.png") no-repeat center;
  background-size: 100% 100%;
  position: relative;
  /*            
            animation: example 0.3s linear 1s infinite alternate;
            

            animation-name: example;
            animation-duration: 3s; // продолжительноsть анимации
            animation-delay: 2s; // когда начинаетsа анимация
            animation-iteration-count: 3; // повторений анимации (infinite - беsконечноsть)
            animation-direction: alternate;  // анимация работает вперед и назад
            animation-timing-function: linear; // sкороsть анимиции

        }

        @keyframes example {
            from {color: #ffffff;}
            to   {color: green;}
        }
*/
}

.background .BoxItem :nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
}

.background .BoxItem .LogoBox1,
.background .BoxItem .LogoBox2,
.background .BoxItem .LogoBox3 {
  position: absolute;
  font-size: 5vh;
  top: -2.4vh;
}

.background .BoxItem .LogoBox1 {
  left: 10.7vh;
}

.background .BoxItem .LogoBox2 {
  left: 10.5vh;
}

.background .BoxItem .LogoBox3 {
  left: 11.4vh;
}

.background .BoxItem > div {
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: 2.4px;
  padding: 3.5vh 0 0.1vh 0;
}

.background .BoxItem > a {
  text-decoration: none;
  font-size: 1.5vw;
  color: #ffffff;
}

/* Navigation */

.navBar {
  min-height: 9.5vh;
  border-bottom: 1.5px solid #85858E;
  display: flex;
  align-items: center;
}

.navBar a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  font-family: 'Gaegu', cursive;
}

.navBar a:hover {
  color: #f6ae48;
}

.ToggleBar {
  display: flex;
  width: 30%;
  text-align: center;
  justify-content: center;
}

.ToggleBar .menuOpen {
  display: block;
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  /* Batton TogleBar */
}

.ToggleBar .menuOpen span,
.ToggleBar .menuOpen span::before,
.ToggleBar .menuOpen span::after {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  background-color: #f6ae48;
}

.ToggleBar .menuOpen span::before,
.ToggleBar .menuOpen span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.ToggleBar .menuOpen span::before {
  transform: translateY(-5px);
}

.ToggleBar .menuOpen span::after {
  transform: translateY(5px);
}

.ToggleBar .menuOpen-aktive span::after {
  transform: rotate(45deg);
}

.ToggleBar .menuOpen-aktive span {
  height: 0;
}

.ToggleBar .menuOpen-aktive span::before {
  transform: rotate(-45deg);
}

.navigation {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  margin: 0 5%;
  justify-content: space-between;
}

.activeNav {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  margin: 0 5%;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .ToggleBar .menuToggle {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .background .tellNumber {
    font-size: 3vw;
    padding-top: 5vh;
    padding-bottom: 2vh;
  }

  .background h1 {
    font-size: 5vw;
    padding-bottom: 2vh;
    font-family: Gaegu;
  }

  .background .headerText {
    font-size: 1.5vw;
    margin: 0 10vh 3vh 10vh;
  }

  .background .BoxItem {
    margin: 4vh 1vh;
  }

  .navBar {
    flex-wrap: wrap;
  }

  .navBar a {
    font-size: 4vw;
  }

  .ToggleBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 15px;
  }

  .navigation {
    display: none;
    text-align: center;
    width: 100%;
    bottom: 100px;
  }

  .activeNav {
    display: block;
    text-align: center;
    width: 100%;
  }
}