@import "smart-grid.less";
@import "styles-real.less";


.reset();

.wrapper {
    margin: 0 15px;
}

/* Header */

body {
    font-family: 'Montserrat', sans-serif;
}


header {
    background: url("../img/header.jpg") center;    
    background-size: cover;
    
}

.background {
    background-color:rgba(47, 34, 164, 0.49);
    text-align: center;    
    min-height: 66vw;
    color: #ffffff;
    
    .tellNumber {
        text-align: right;
        padding: 8vh 8vh 0 0;
        
        a {
            text-decoration: none;
            color: #ffffff;    
        }

        a:hover {
            color: #f6ae48;	
        } 
    }

    h1 {        
        font-size: 3.2vw;    
        margin: 6vh 9vh 5vh 9vh;
        line-height: 5vw;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .headerText {
        font-size: 1.5vw;
        margin: 0 25vh 5vh 25vh;
        line-height: 2.5vw; 
        letter-spacing: 1.2px; 
              
    }

    :nth-child(4) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .BoxItem {
        margin: 0 20px;
        min-width: 27vh;
        background: url("../img/orderheder.png") no-repeat center;
        background-size: 100% 100% ;  
        position: relative;

        .LogoBox1, .LogoBox2, .LogoBox3 {
            position: absolute;
            font-size: 5vh;
            top: -2.4vh;	 
        }
        
        .LogoBox1 {	
            left: 10.7vh;
        }
        .LogoBox2 {	
            left: 10.5vh;
        }
        .LogoBox3 {	
            left: 11.4vh;
        }
        
        > div {	
            color: #ffffff;
            font-size: 40px;
            font-weight: bold;	
            letter-spacing: 2.4px;
            padding: 3.5vh 0 0.5vh 0;	
        }

        > p {
            font-size: 18px;
            letter-spacing: 1.5px;
            padding-bottom: 3vh;                  
        }
    }
}

/* Navigation */

.navigation {
    display: flex;   
    min-height: 9vh;
    border-bottom: 1.5px solid #85858E;

    .menulogo {
        flex-grow: 4;
        
    }

    .menuItem {
        flex-grow: 1;
        font-size: 1.5vw;
        font-family: 'Gaegu', cursive;
        
    }

    .menulogo, .menuItem {
        align-self: center;
        flex-basis: 40px;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a:hover {
        color: #f6ae48;	
    }
}











